Main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	size: auto;
}

Main .topText {
	color: white;
	position: absolute;
	top: 30px;
}

Main .header {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.icons {
	position: absolute;
	top: 90%;
	height: auto;
}

.icons i:hover {
	transform: scale(1.1);
	text-decoration: none;
}

.discordProfile {
	margin: 10px ;
	height: 90px;
	border-radius: 16px;
	overflow: hidden;
	width: max-content;
	margin: 0;
	transition: 300ms ease-in-out;
}

.discordProfile:hover {
	height: 210px;
}